# Carpetas pesadas que iran al NAS pero no a GitHub
LIBROS/

# Archivos de Antigravity o sistema
.agents/
.gemini/
.antigravity/
Thumbs.db
.DS_Store

# Archivos temporales de LaTeX (Plantilla PFG)
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Entornos virtuales de Python
venv/
env/
__pycache__/
*.pyc

# Mas carpetas con PDFs
BIBLIOGRAFIA/
